body{
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
background-color: rgb(180, 243, 240);
}
h2{
    text-transform: uppercase;
    letter-spacing: 2px;

}
h3{
    text-align: justify;

}

input,
select{
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    outline: none;

}
select{
    width: 150px;
    margin-left: 10px;
    letter-spacing: 2px;
}
span{
    color: midnightblue;
    font-size: 2em;
    font-weight: 900;

}